<%-include('adminheader')-%>
  <%-include('adminnav')-%>
    <!-- Add margin to the top of the entire content -->
    <br>
    <form action="/generateexcel" method="post">
      <input type="hidden" name="order">
      <button type="submit" class="btn btn-primary" style="margin-left: 115px;">Generate EXCEL</button>
    </form>

    <br>

    <div class="mt-4">
      <div class="container">
        <div class="my-4">
          <table class="table table-bordered table-striped text-center">
            <thead class="thead-dark">
              <tr>
                <th scope="col">SL No:</th>
                <th scope="col">Order ID</th>
                <th scope="col">Email</th>
                <th scope="col">Total</th>
                <th scope="col">Purchase Date</th>
                <th scope="col">Delivery Date</th>
                <th scope="col">Order Status</th>
                <th scope="col">Payment Method</th>
              </tr>
            </thead>
            <% for (let i=0; i < orders.length; i++) { %>
              <tbody>
                <tr>
                  <th scope="row">
                    <%= i + 1 %>
                  </th>
                  <td>
                    <%= orders[i].orderid %>
                  </td>
                  <td>
                    <%= orders[i].email %>
                  </td>
                  <td>
                    <%= orders[i].total %>
                  </td>
                  <td>
                    <%= orders[i].purchasedate.toString().slice(4, 15) %>
                  </td>
                  <td>
                    <%= orders[i].deliverydate.toString().slice(4, 15) %>
                  </td>
                  <td>
                    <%= orders[i].status %>
                  </td>
                  <td>
                    <%= orders[i].paymentmethod %>
                  </td>
                </tr>
              </tbody>
              <% } %>
          </table>
        </div>

        <% if (locals.page && locals.limit && locals.countpages) { %>
          <div class="text-center my-4">
            <nav aria-label="Page navigation example" style="width: 30%; margin: auto;">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="/ordermanagement?page=<%= Math.max(1, page - 1) %>&pagesize=<%= limit %>"
                    aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <% for (let i=1; i <=2; i++) { %>
                  <li class="page-item <%= i === page ? 'active' : '' %>">
                    <a class="page-link" href="/ordermanagement?page=<%= i %>&pagesize=<%= limit %>">
                      <%= i %>
                    </a>
                  </li>
                  <% } %>
                    <li class="page-item">
                      <a class="page-link"
                        href="/ordermanagement?page=<%= Math.max(2, page + 1) %>&pagesize=<%= limit %>"
                        aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
              </ul>
            </nav>
          </div>
          <% } %>
      </div>
    </div>
    <br><br><br><br>
    </body>

    </html>